body {
  background-color: #DEC5FF;
  font-family: 'Bree Serif', serif;
}

.container {
  text-align: center;
  margin-top: 2%;
}

table {
  margin: auto;
}

.spot {
  font-size: 50px;
}

td {
  width: 120px;
  height: 120px;
  text-align: center;
}
